* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;

}


.class_nav {
   display: flex;
   background-color: #242628;
   font-size: 20px;
   color: beige;
   align-items: center;
   flex-direction: row;
   padding: 15px;
   justify-content: space-between;
   height:100px;
   cursor: pointer;
   flex-wrap: wrap;
   width: 100%;
   
}

.container {
    display: flex;
    flex-direction:column;
    height: 100%;
}

.container2 {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    padding: 100px 10px 100px 100px;
    align-items: center;    
}


.footer {
    background-color: #242628;
    padding: 15px;
    max-height: max-content;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-links {
    width: 25%;
    padding: 0 15px;
}

.footer-links h4 {
    font-size: 20px;
    color: white;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00C3FF;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #BBBBBB;
    display: block;
    margin-bottom: 25px;
}

.footer-links ul li a:hover {
    color: white;
    padding-left: 8px;
}

PARA REGISTRO

.container_form  {
    background-color: red;
    padding: 20px;
}

.boton {
    background-color: cadetblue;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px;
}


.form-register {
    width: max-content;
    background-color: rgb(235, 225, 225);
    margin: auto;
    margin-top: 35px;
    padding: 30px;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    margin-bottom: 35px;
    box-shadow: 10px 10px #999;
}

label {
 color: black;
 padding-top: 30 px;
 font-size: 15px;
}

input {
   background-color: rgb(245, 240, 240);
   border-radius: 20px;
   height: 20px;
}

.padre{
    display: flex;
    justify-content: space-between;
    border-color: black;
    border: solid;
    padding: 15px ;
    height: 300px;
    margin-bottom: 20px;
    width: 1500px;
    margin-left: 160px;
}

.color-coments {
   color: black;
}

MEDIAS QUERIES


@media (max-width:600px) {
    .container, .class_nav { 
    display: flex;
    flex-direction:column; 
    } 
}